@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
display: none;
}

body{
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;  
  min-height: 100vh;
  max-height: auto;
}
.notistack-MuiContent {
 width: 400px;
}

@media screen and (max-width: 767px) {
  .notistack-MuiContent {
    width: calc(100vw - 30px) !important;
   }
}
.mapboxgl-ctrl-bottom-left, .mapboxgl-control-container {
  display: none;
}